.main {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    margin: 50px auto;
    max-width: 500px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.main h1 {
    font-size: 20px;
    text-align: center;
}

.form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form input[type="text"] {
    height: 40px;
    padding: 0 20px;
    font-size: 20px;
    border: 1px solid #ccc;
    min-width: 80%;
}

.form button[type="submit"] {
    border: none;
    height: 40px;
    width: 40px;
    color: #fff;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in;
}

.form button[type="submit"]:hover {
    background-color: rgb(180, 180, 180);
    color: black;
}

.tasks {
    margin-top: 30px;
}

.tasks li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: all 0.6s;
}

.tasks li span {
    display: flex;
    align-items: center;
}

.tasks li:hover {
    background-color: #0182B0;
}

.tasks li .edit {
    margin-right: 15px;
    color: #0182B0;
    cursor: pointer;
}

.tasks li .delete {
    margin-right: 15px;
    color: crimson;
    cursor: pointer;
}

.tasks li:hover .edit,
.tasks li:hover .delete {
    transition: all 400ms;
    color: black;
}